 <!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">John-Reasor.com</div>
</div>
<div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
        <ul class="menu" data-responsive-menu="accordion">
            <li class="menu-text hide-for-small-only">John-Reasor.com</li>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->