<div class="row">
    <div class="single-item">
        <div>
            <img src="../images/placeimg_1200_450_tech.jpg" class="hide-for-small-only show-for-large" alt="Large Place Holder" />
            <img src="../images/placeimg_760_238_tech.jpg" class="show-for-medium-only" alt="Medium Place Holder" />
            <img src="../images/placeimg_480_150_tech.jpg" class="show-for-small-only" alt="Small Place Holder" />

        </div>
        <div>
            <img src="../images/placeimg_1200_450_tech (1).jpg" class="hide-for-small-only show-for-large" alt="Large Place Holder" />
            <img src="../images/placeimg_760_238_tech (1).jpg" class="show-for-medium-only" alt="Medium Place Holder" />
            <img src="../images/placeimg_480_150_tech (1).jpg" class="show-for-small-only" alt="Small Place Holder" />

        </div>
        <div>
            <img src="../images/placeimg_1200_450_tech (2).jpg" class="hide-for-small-only show-for-large" alt="Large Place Holder" />
            <img src="../images/placeimg_760_238_tech (2).jpg" class="show-for-medium-only" alt="Medium Place Holder" />
            <img src="../images/placeimg_480_150_tech (2).jpg" class="show-for-small-only" alt="Small Place Holder" />

        </div>
        <div>
            <img src="../images/placeimg_1200_450_tech (3).jpg" class="hide-for-small-only show-for-large" alt="Large Place Holder" />
            <img src="../images/placeimg_760_238_tech (3).jpg" class="show-for-medium-only" alt="Medium Place Holder" />
            <img src="../images/placeimg_480_150_tech (3).jpg" class="show-for-small-only" alt="Small Place Holder" />

        </div>
    </div>
</div>
<hr>

<div>
    <div class="row">
        <div class="medium-6 large-3 columns">
            <div class="responsive_headline">
                <h3>Custom Programs</h3>
            </div>
            <div>
                <p>Custom desktop programs designed for small businesses. Creating fast responsive database and reporting systems to meet the custom needs of each unique business model.</p>
                <p>Custom reports, inventory tracking, database creation using the latest in .net design patterns and DevExpress components for advanced grids and charts.</p>
            </div>
        </div>
        <div class="medium-6 large-3 columns">
            <div class="responsive_headline">
                <h3>Website Design</h3>
            </div>
            <div>
                <p>Web sites designed to function on any size device, highlighting small business products and services and enhancing the search engine results to bring more customers to the clients door.</p>
                <p>Services ranging from one-page web sites giving web exposure and client contact points to the to heavy trafficked e-commerce sites.</p>
            </div>
        </div>
        <div class="medium-6 large-3 columns">
            <div class="responsive_headline">
                <h3>Hosting Management</h3>
            </div>
            <div>
                <p>I don’t just walk away after the site after it is designed as part of a service package  the site will be for manage your company, hosting the site for you or working with the ISP host to keep the site and your company emails up and running. </p>
                <p>By choosing a hosting management contract initial cost can be spread over the life of the contract, and give you priority response for future changes you may want for your site.</p>
            </div>
        </div>
        <div class="medium-6 large-3 columns">
            <div class="responsive_headline">
                <h3>General IT Services</h3>
            </div>
            <div>
                <p>Software installs or removal, virus removal or simple maintenance. Often a small business will need these services to keep the business growing without breaking the bank.</p>
                <p>General IT service and consulting can be setup on a one time or a contractual basis.</p>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="large-6 columns">
        <h4>Design for Modern Interfaces.</h4>
        <img src="../images/placeimg_760_238_sepia_tech.jpg" class="hide-for-small-only" alt="Example Image" />
        <img src="../images/placeimg_480_150_sepia_tech.jpg" class="show-for-small-only" alt="Example Image" />
        <p>Modern design cannot overlook the changes, growing and diverse device sizes customers are viewing information through.</p>
    </div>
    <div class="large-6 columns">
        <h4>Clean Reliable Code.</h4>
        <img src="../images/placeimg_760_238_sepia_tech (1).jpg" class="hide-for-small-only" alt="Example Image" />
        <img src="../images/placeimg_480_150_sepia_tech (1).jpg" class="show-for-small-only" alt="Example Image" />
        <p>Both desktop .net programs and a code aimed at a website must be clean, meaning written in a way that is easy to maintain, add to or change and it must be reliable.</p>
    </div>
</div>
<div class="row">
    <div class="medium-12 large-12 columns">
        <div>
            <h4>This Site</h4>
        </div>
        <div>
            <p>This site is powered by AngularJS, Foundation 6, JavaScript, JQuery, HTML5, CSS, Slick Carousel and the place holder images are from PlaceIMG.com.</p>
            <p>It was design in Visual Studio 2015.</p>
        </div>
    </div>
</div>

<script>
    $('.single-item').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true,
        autoplay: true,
        arrows: false
    });
</script>
