body {
    background-color: #D7CEC7;
}

.top-bar, .top-bar ul {
    background-color: #565656;
    color: black;
}

.title-bar {
    background-color: #565656;
    padding: .5rem;
    color: black;
}

.menu > li > a {
    background-color: #565656;
    color: black;
}

.orbit-container {
    min-height: 450px;
    height: 100%;
}

.callout.primary {
    background-color: #706C69;
    color: black;
}

footer {
    background-color: #565656;
    color: black;
    height: 54px;
    padding: 10px;
}

h3, h4{
    color: black;
}